body {
  overflow: hidden;
}

.context-col {
  background-color: #d14f13;
  height: 100vh;
}

.redux-col{
  background-color: #4557a3;
  height: 100vh;
}


.redux-container {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  color: white;
}

.context-container {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  color: white;
}
